{% extends "base.html" %}

{% block body_params %} class="text-center" {% endblock %}

{% block style %}
body {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    color: black;
}

.form-signin #input_login {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin #input_password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.alert {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

{% endblock %}

{% block body %}
<form class="form-signin" method="post">
    {{ form.hidden_tag() }}
    <!-- TODO: Лого -->
    <h1 class="h3 mb-3 font-weight-normal">Вход</h1>

    {{ form.login(class_='form-control', placeholder="Логин", autofocus=True) }}
    {% for error in form.login.errors %}
    <div class="alert alert-danger py-2" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    {{ form.password(class_='form-control', placeholder="Пароль") }}
    {% for error in form.password.errors %}
    <div class="alert alert-danger py-2" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <div class="checkbox my-3">
        <label>
            {{ form.remember }} Запомнить меня
        </label>
    </div>

    {{ form.submit(class_='btn btn-lg btn-primary btn-block') }}
    <br>{{ got }}
</form>
{% endblock %}