{% extends "base.html" %}

{% block body_params %} class="text-center" {% endblock %}

{% block style %}
body {
display: flex;
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
align-items: center;
}

.form-register {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}

.form-register .form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
color: black;
}

.form-register #input_login {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-register #input_password {
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.form-register .form-control:focus {
z-index: 2;
}

.alert {
border-top-left-radius: 0;
border-top-right-radius: 0;
}

{% endblock %}

{% block body %}
<form class="form-register" method="post">
    {{ form.hidden_tag() }}
    <!-- TODO: Лого -->

    <h1 class="h3 mb-3 font-weight-normal">Регистрация школы</h1>

    <div class="mb-3">
        <label for="input_region">Регион</label>
        {{ form.region(class_="form-control", placeholder="Регион", autofocus=True) }}
        {% for error in form.region.errors %}
        <div class="alert alert-danger py-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        <label for="city">Город</label>
        {{ form.city(class_="form-control", placeholder="Город") }}
        {% for error in form.city.errors %}
        <div class="alert alert-danger py-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        <label for="school">Школа</label>
        {{ form.school(class_="form-control", placeholder="Школа") }}
        {% for error in form.school.errors %}
        <div class="alert alert-danger py-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        <label for="fullname">ФИО</label>
        {{ form.fullname(class_="form-control", placeholder="ФИО") }}
        {% for error in form.fullname.errors %}
        <div class="alert alert-danger py-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        <label for="email">Электронная почта</label>
        {{ form.email(class_="form-control", placeholder="Электронная почта") }}
        {% for error in form.email.errors %}
        <div class="alert alert-danger py-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        <label for="login">Логин (имя пользователя)</label>
        {{ form.login(class_="form-control", placeholder="Логин") }}
        {% for error in form.login.errors %}
        <div class="alert alert-danger py-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        <label for="password_first">Придумайте пароль</label>
        {{ form.password_first(class_="form-control", placeholder="Пароль") }}
        {% for error in form.password_first.errors %}
        <div class="alert alert-danger py-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        <label for="password_second">Введите пароль ещё раз</label>
        {{ form.password_second(class_="form-control", placeholder="Пароль ещё раз") }}
        {% for error in form.password_second.errors %}
        <div class="alert alert-danger py-2" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{ form.submit(class_='btn btn-lg btn-primary btn-block') }}
    </div>
    <br>{{ got }}
</form>
{% endblock %}