{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_request.css') }}">
{% endblock %}

{% block body %}
    <form class="form-register" method="post">
        {{ form.hidden_tag() }}

        <h1 class="h3 mb-3 font-weight-normal">Запрос на регистрацию школы</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="input_school">Школа</label>
            {{ form.region(class_="form-control no-corner-rounding-bottom", placeholder="Регион/Область",
                           style="margin-bottom: -1px", autofocus=True) }}
            {% for error in form.region.errors %}
                <div class="alert alert-danger py-2 no-corner-rounding-up" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {{ form.city(class_="form-control no-corner-rounding", style="margin-bottom: -1px", placeholder="Город") }}
            {% for error in form.city.errors %}
                <div class="alert alert-danger py-2 no-corner-rounding-up" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {{ form.school(class_="form-control no-corner-rounding-up", placeholder="Школа") }}
            {% for error in form.school.errors %}
                <div class="alert alert-danger py-2 no-corner-rounding-up" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="input_surname">ФИО</label>
            {{ form.surname(class_="form-control no-corner-rounding-bottom", style="margin-bottom: -1px;",
                        placeholder="Фамилия") }}
            {% for error in form.surname.errors %}
                <div class="alert alert-danger py-2 no-corner-rounding-up" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {{ form.name(class_="form-control no-corner-rounding", style="margin-bottom: -1px;", placeholder="Имя") }}
            {% for error in form.name.errors %}
                <div class="alert alert-danger py-2 no-corner-rounding-up" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {{ form.patronymic(class_="form-control no-corner-rounding-up", placeholder="Отчество") }}
            {% for error in form.patronymic.errors %}
                <div class="alert alert-danger py-2 no-corner-rounding-up" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="input_email">Электронная почта</label>
            {{ form.email(class_="form-control", placeholder="Электронная почта") }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger py-2 no-corner-rounding-up" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="input_password_first">Пароль</label>
            {{ form.password_first(class_="form-control no-corner-rounding-bottom", style="margin-bottom: -1px",
                               placeholder="Пароль") }}
            {% for error in form.password_first.errors %}
                <div class="alert alert-danger py-2 no-corner-rounding-up" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {{ form.password_second(class_="form-control no-corner-rounding-up", placeholder="Пароль ещё раз") }}
            {% for error in form.password_second.errors %}
                <div class="alert alert-danger py-2 no-corner-rounding-up" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.submit(class_='btn btn-lg btn-primary btn-block mt-4') }}
        </div>
        <br>
    </form>
{% endblock %}
