@import url('https://fonts.googleapis.com/css?family=Courgette');

.day {
    width: 35%;
}

.day table {
    border-radius: 0.35rem;
    transition: box-shadow 0.3s ease-in-out;
}

.day table:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4) !important;
}

.lesson-number {
    border-right-color: #32383e !important;
}

.homework {
    font-size: 75%;
    width: 100%;
}

.homework div {
    max-height: 24px;
    max-width: 15vw;
    margin: auto;
}

.mark_ {
    font-size: 150%;
    font-family: 'Courgette', cursive;
}

tr:first-child * {
    border-top: 0;
}

.dropdown-menu.scrollable {
    height: auto;
    max-height: 30em;
    overflow-x: hidden;
}
