@import url('https://fonts.googleapis.com/css?family=Courgette');

form {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-column-gap: 1em;
    width: 70%;
    margin-bottom: 1em;
}

form select {
    height: 100% !important;
}

.class-select {
    width: initial;
    height: initial;
    line-height: 1.3;
    margin-top: -0.5rem;
}

.class-select:focus {
    position: relative;
    z-index: 1;
}

#grade_number_select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#grade_letter_select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    position: relative;
    left: -0.4em;
}

option {
    font-size: initial;
}

.day {
    max-width: unset;
}