body {
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    color: black;
}

.form-signin #input_login {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin #input_password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.alert {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
