body {
    display: grid;
    grid-template-rows: 56px auto;
}

user {
    display: none;
}

nav {
    flex-shrink: 0;
}

a:hover {
    text-decoration: none;
}

.card-with-shadow {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    box-shadow: 0 0 17px #00000026;
}

messenger {
    display: grid;
    margin: 2rem;
    grid-template: 3.5em auto 3em / 25% 75%;
    grid-template-areas: "  new-message  dialog-header"
                         "dialogs-drawer     dialog   "
                         "dialogs-drawer message-input";
    grid-gap: 0.7em;
    height: calc(100vh - 125px);
}

dialogs-drawer {
    display: flex;
    flex-direction: column;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    overflow-y: auto;
    grid-area: dialogs-drawer;
}

.new-message-button {
    padding: 0.25rem 1rem;
    color: #6c757d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s ease-out 0s;
    cursor: pointer;
    user-select: none;
}

.new-message-button:hover {
    box-shadow: 0 0 17px #00000040;
}

.new-message-button h1 {
    display: inline;
    margin-bottom: 0;
}

.new-message-button span {
    margin-left: 0.5em;
    vertical-align: middle;
    line-height: 1.2em;
    color: #949a9e;
}

okayjournal-dialog {
    display: block;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
}

dialogs-drawer, okayjournal-dialog {
    box-shadow: 0 0 17px #00000026;
}

dialogs-drawer > * {
    border-bottom: 1px solid #dee2e6;
}

dialog-option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s;
}

dialog-option:hover, dialog-option[selected] {
    box-shadow: 0 0 17px 0 #0000001f;
}

dialog-option[selected] {
    background-color: #dfeffd;
}

okayjournal-dialog content {
    display: block;
}

.dialog-header {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 150%;
}

@media screen and (max-width: 620px) {
    .dialog-header {
        font-size: 100%
    }

    .new-message-button span {
        display: none;
    }

    dialog-option h5 {
        font-size: 100%;
    }

    messenger {
        margin: 0.7em;
        grid-gap: 0.2em;
    }
}

@media screen and (max-height: 450px) {
    messenger {
        margin: 0.7em;
        grid-gap: 0.2em;
        height: calc(100vh - 80px);
    }

    dialog-option h5 {
        font-size: 100%;
        margin: 0;
    }
}

@media screen and (min-height: 450px) {
    messenger {
    }
}

messages {
    grid-area: dialog;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    overflow-y: auto;
}

messages > :first-child {
    margin-top: auto;
}

message {
    border: 1px #dee2e6 solid;
    border-radius: 1em;
    padding: 5px 10px;
    margin-top: 0.15rem;
    flex-shrink: 0;
    max-width: 65%;
    word-break: break-all;
    display: flex;
    align-items: flex-end;
}

.time-mark {
    margin-left: 1rem;
    margin-right: 0.25rem;
    font-size: 70%;
    color: #a2a2a2;
    word-break: keep-all;
}

.read-mark {
    margin-right: 0.25rem;
    position: relative;
    top: 0.25rem;
    font-size: 100%;
    color: #6db4ff;
    letter-spacing: -0.5em;
}

.message-input {
    grid-area: message-input;
    display: flex;
    align-items: center;
    justify-items: stretch;
    transition: box-shadow .15s ease-in-out;
}

.message-input:focus-within {
    box-shadow: 0 0 7px #00000054;
}

.message-input input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: box-shadow .15s ease-in-out;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 1em;
}

.message-input input:focus {
    outline: none;
    z-index: 2;
}

.message-input button {
    border-radius: 0 0.5rem 0.5rem 0;
    border: 0;
    position: relative;
    padding: 0;
    width: 3em;
    height: 100%;
    display: flex;
    justify-content: center;
}

.message-input button:focus {
    box-shadow: none;
}

.message-input button svg {
    width: 60%;
}
