body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
}

.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    color: black;
}

.form-register .form-control:focus {
    z-index: 2;
}

/* Без скругления углов сверху */
.no-corner-rounding-up {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.no-corner-rounding-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.no-corner-rounding {
    border-radius: 0;
}
