.hidden-link {
    color: inherit;
}

.hidden-link:hover {
    color: inherit;
    text-decoration: none;
}

.icon {
    width: 20px;
    padding-bottom: 7px;
    margin-right: 5px;
}

.card {
    transition: 0.5s all;
}

.card:hover {
    transform: scale(1.01);
}