.day {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

table {
    border-radius: 0.35rem;
    transition: box-shadow 0.3s ease-in-out;
}

table:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4) !important;
}

.lesson-number {
    border-right-color: #32383e !important;
    width: 1px;
}

tr:first-child * {
    border-top: 0;
}

select.subject, select.teacher {
    background-color: transparent;
    color: inherit;
    border: 0;
    width: 100%;
    cursor: pointer;
}

option {
    color: black;
    font-size: initial;
}

th {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    color: #6c757d !important;
}

.class-select {
    width: initial;
    height: initial;
    line-height: 1.3;
}

.class-select:focus {
    position: relative;
    z-index: 1;
}

#class-number-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#class-letter-select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    position: relative;
    left: -0.4em;
}
