{% extends "journal/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/announcements.css') }}">
{% endblock %}

{% block body %}
    {{ super() }}

    <div class="m-3">
        {% if session["role"] in ["Teacher", "SchoolAdmin"] %}
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#addAnnouncement">
                Новое объявление
            </button>
        {% endif %}

        <div class="modal fade" id="addAnnouncement" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAnnouncementLabel">Новое объявление</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form method="post" name="addAnnouncementForm">
                        <div class="modal-body">
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="announcementHeader">Заголовок</label>
                                </div>
                                <input type="text" name="announcementHeader" id="announcementHeader"
                                       class="form-control"
                                       required>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Объявление</span>
                                </div>
                                <textarea class="form-control" aria-label="Введите текст объявления" name="announcement"
                                          required></textarea>
                            </div>
                            <!-- TODO: Исправить чекбоксы -->
                            <h6>Объявление для</h6>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input custom-control-input" name="Teacher"
                                       id="teacherCheckbox" checked>
                                <label class="form-check-label custom-control-label" for="teacherCheckbox">
                                    Учителей
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input custom-control-input"
                                       name="Parent" id="parentCheckbox" checked>
                                <label class="form-check-label custom-control-label" for="parentCheckbox">
                                    Родителей
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input custom-control-input" name="Student"
                                       id="studentCheckbox" checked>
                                <label class="form-check-label custom-control-label" for="studentCheckbox">
                                    Учеников
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% for k, v in announcements.items() | list | reverse %}
            {% if session["role"] in v["for_users"].split()
                   or (session["user"]["id"], session["role"]) == (v["author"]["id"], v["author"]["role"]) %}
                <div class="card">
                    <h5 class="card-header">
                        {{ v["header"] }}
                        <div class="announcement-info">
                            <span class="info text" id="authorName">{{ v["author"]["name"] }}</span>
                            <small class="info text">{{ v["date"].strftime("%d.%m.%y") }}</small>
                        </div>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">{{ v["text"] }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
