{% extends 'journal/base.html' %}

{% block body %}
{{ super() }}

<div class="row py-3 mx-auto w-75">
    {% for i in range(11) %}
    <div class="card p-3 m-2">
        <h3 class="card-title">{{ i + 1 }} классы</h3>
        <div class="card-text">
            {% for grade in grades[i + 1] %}
            <button type="button" class="btn btn-primary">{{ grade.letter }}</button>
            {% endfor %}
            <button type="button" class="btn btn-light" onclick="">+</button>
        </div>
    </div>
    {% endfor %}
</div>

<script>

</script>

{% endblock %}