{% extends 'journal/base.html' %}

{% block body %}
    {{ super() }}

    <div class="row py-3 mx-auto w-75">
        {% for i in range(1, 12) %}
            <div class="card p-3 m-2">
                <h3 class="card-title">{{ i }} классы</h3>
                <div class="card-text" id="card{{ i }}"></div>
            </div>
        {% endfor %}
    </div>

    <!-- Диалог добавления нового класса -->
    <div class="modal fade" id="addClass" tabindex="-1" role="dialog"
         aria-labelledby="addClassLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClassLabel">Новый класс</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="grade_input_readonly">Новый класс</label>
                            <div id="grade"></div>
                        </div>
                        <div class="form-group">
                            <label for="homeroom_teacher">Классный руководитель</label>
                            <select id="homeroom_teacher" class="custom-select" name="homeroom_teacher" required>
                                {% for teacher in free_teachers %}
                                    <option value="{{ teacher.id }}">{{ teacher.surname }} {{ teacher.name }}
                                        {{ teacher.patronymic }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Диалог с информацией о классе -->
    <div class="modal fade" id="gradeInfo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gradeInfoLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="gradeInfoContent">
                    <h4 id="homeroomTeacherLabel">Классный руководитель</h4>
                    <div id="homeroom_teacher_info"></div>
                    <h4 id="studentsLabel">Ученики</h4>
                    <div id="students_info"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/add_class.js') }}"></script>

{% endblock %}
