{% extends 'journal/base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', 'css/grading.css') }}">
{% endblock %}

{% block body %}
{{ super() }}

<div class="m-3 w-50 mx-auto">
    <form method="post">
        <input type="submit" class="btn btn-success mb-4 w-100" value="Сохранить">

        <div class="form-group mb-3">
            <label for="lesson-topic">Тема урока</label>
            <input type="text" class="form-control" id="lesson-topic">
        </div>

        <div class="form-group mb-5">
            <label for="homework">Домашнее задание</label>
            <textarea class="form-control"></textarea>
        </div>

        <table class="table table-bordered table-dark w-50 mx-auto">
            <thead>
            <tr>
                <th>Ученики</th>
                <th>Посещаемость</th>
                <th>Оценка</th>
            </tr>
            </thead>
            <tbody>
            {% for i in range(20) %}
            <tr>
                <td>Дятлов А.</td>
                <td>
                    <select>
                        <option></option>
                        <option>Уважительная причина</option>
                        <option>Отсутствует</option>
                        <option>Болеет</option>
                        <option>Опоздал</option>
                    </select>
                </td>
                <td>
                    <select>
                        <option value=""></option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% endblock %}
