{% extends "journal/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/links.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anim.css') }}">
{% endblock %}

{% block body %}
    <user user-id="{{ session['user']['id'] }}" user-role="{{ session['role'] }}"></user>

    {{ super() }}

    <div class="modal fade" id="newMessage" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newMessageLabel">Новое сообщение</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post" name="addRecipientForm">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="role-select">Роль получателя</label>
                            </div>
                            <select class="custom-select" id="role-select" name="role-select" required>
                                <option value="Teacher" selected>Учитель</option>
                                <option value="Parent">Родитель</option>
                                {% if session["role"] != "SchoolAdmin" %}
                                    <option value="SchoolAdmin">Администратор школы</option>
                                {% endif %}
                                <option value="Student">Ученик</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="user-select">Получатель</label>
                            </div>
                            <select class="custom-select" id="user-select" name="user-select" required>
                                {% for teacher in users["Teacher"] %}
                                    <option value="{{ teacher.id }}">{{ teacher.surname }} {{ teacher.name }}
                                        {{ teacher.patronymic }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Сообщение</span>
                            </div>
                            <textarea class="form-control" aria-label="Введите сообщение"
                                      name="message" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <messenger>
        <div class="new-message-button card-with-shadow" onclick="$('#newMessage').modal('show')">
            <h1>+</h1>
        </div>

        <dialogs-drawer></dialogs-drawer>

        <dialog-header class="dialog dialog-header card-with-shadow"></dialog-header>

        <messages class="dialog card-with-shadow"></messages>

        <div class="dialog message-input card-with-shadow">
            <input>
            <button class="btn btn-light" onclick="sendMessage()">
                <svg viewBox="0 0 24 24">
                    <path fill="#505050" d="M2,21L23,12L2,3V10L17,12L2,14V21Z"/>
                </svg>
            </button>
        </div>
    </messenger>

    <script src="{{ url_for('static', filename='js/messages.js') }}"></script>

{% endblock %}
