{% extends "journal/base.html" %}

{% block style %}
{{ super() }}

.dialogs-drawer {
width: 35%;
overflow-y: scroll;
}

nav {
flex-shrink: 0;
}

a:hover {
text-decoration: none;
}

#message-text {
position: relative;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

#message-text:focus {
z-index: 2;
}

#message-send {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
margin-left: -1px;
}

.message {
flex-shrink: 1;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
}

{% endblock %}

{% block body %}
<div class="d-flex flex-column" style="height: 100vh;">
    {{ super() }}

    <div class="modal fade" id="addRecipient" tabindex="-1" role="dialog"
         aria-labelledby="addRecipientLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRecipientLabel">Добавить
                        получателя</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" name="addRecipientForm">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                       for="role-select">Роль получателя</label>
                            </div>
                            <select class="custom-select" id="role-select" name="role-select" required>
                                <option value="Teacher" selected>Учитель</option>
                                <option value="Parent">Родитель</option>
                                {% if session["role"] != "SchoolAdmin" %}
                                <option value="SchoolAdmin">Администратор школы</option>
                                {% endif %}
                                <option value="Student">Ученик</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                       for="user-select">Получатель</label>
                            </div>
                            <select class="custom-select" id="user-select" name="user-select" required>
                                {% for teacher in users["Teacher"] %}
                                <option value="{{ teacher.id }}">{{ teacher.surname }} {{ teacher.name }} {{
                                    teacher.patronymic
                                    }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Сообщение</span>
                            </div>
                            <textarea class="form-control" aria-label="Введите сообщение" name="message"
                                      required></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Отменить
                        </button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $("#role-select").change(function() {
        $("#user-select").empty();
        if ($("#role-select").val()==="SchoolAdmin") {
            {% for user in users["SchoolAdmin"] %}
                $("#user-select").append($('<option value="{{ user.id }}">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</option>'));
            {% endfor %}
        }
        else if ($("#role-select").val()==="Teacher") {
            {% for user in users["Teacher"] %}
                $("#user-select").append($('<option value="{{ user.id }}">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</option>'));
            {% endfor %}
        }
        else if ($("#role-select").val()==="Parent") {
            {% for user in users["Parent"] %}
                $("#user-select").append($('<option value="{{ user.id }}">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</option>'));
            {% endfor %}
        }
        else if ($("#role-select").val()==="Student") {
            {% for user in users["Student"] %}
                $("#user-select").append($('<option value="{{ user.id }}">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</option>'));
            {% endfor %}
        }
    });





    </script>

    <div class="d-flex m-3 h-100">
        <div class="dialogs-drawer d-flex flex-column border border-right-0">
            <a href="#" data-toggle="modal" data-target="#addRecipient">
                <div class="dialog-btn container py-1 px-3 border-bottom" id="div-new-dialog">
                    <h1 class="text-muted text-center m-0">+</h1>
                </div>
            </a>
            {% for partner, last_message in dialogs.items() %}
            <div class="dialog-btn container py-2 px-3 border-bottom">
                <h5>{{ partner.surname }} {{ partner.name }} {{ partner.patronymic }}</h5>
                <small class="text-muted">
                    {% if (last_message.sender_id, last_message.sender_role) == (session["user"]["id"], session["role"])
                    %}
                    Вы: {% endif %}
                    {{ last_message.text }}
                </small>
            </div>
            {% endfor %}
        </div>

        <div class="flex-grow-1 w-100 border" id="dialog">
            <div class="d-flex flex-column w-100 h-100" id="dialog-content">
                <div class="py-2 pl-4 border-bottom" style="font-size: 150%;" id="dialog-header">Зубенко М. П.</div>
                <div class="d-flex flex-column-reverse flex-grow-1 h-100 p-3">
                    <div class="message card">
                        ауе
                    </div>
                </div>
                <div class="d-flex m-2">
                    <input class="form-control p-2 flex-grow-1 w-100" id="message-text">
                    <button class="btn btn-light" id="message-send" style="border-color: rgb(206, 212, 218)"> ></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--var height = parseInt($('#dialog').css('height'), 10) + 1;-->
<!--$('#dialog').css('height', height.toString(10) + 'px');-->
<!--</script>-->
<script>
    $('#dialog-header').css('height', $('#div-new-dialog').css('height'));


</script>

{% endblock %}