{% extends 'journal/base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/links.css') }}">
{% endblock %}

{% block body %}
{{ super() }}

<div class="d-flex flex-column m-3">
    <a href="/users" class="hidden-link">
        <div class="card p-3 mb-3 mx-5">
            <h4 class="card-title mt-1">Пользователи школы</h4>
            <p class="card-text">Добавить, изменить или удалить учителей, учеников или их родителей</p>
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
        </div>
    </a>
    <a href="/school_settings" class="hidden-link">
        <div class="card p-3 mb-3 mx-5">
            <h4 class="card-title">Настроить школу</h4>
            <p class="card-text">Изменить название, местоположение школы</p>
        </div>
    </a>
    <a href="/classes" class="hidden-link">
        <div class="card p-3 mb-3 mx-5">
            <h4 class="card-title">Классы</h4>
            <p class="card-text">Добавить, изменить или удалить классы</p>
        </div>
    </a>
    <a href="/subjects" class="hidden-link">
        <div class="card p-3 mb-3 mx-5">
            <h4 class="card-title">Предметы</h4>
            <p class="card-text">Добавить, изменить или удалить предметы</p>
        </div>
    </a>
</div>

{% endblock %}