{% extends 'journal/base.html' %}

{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/timetable.css') }}">
{% endblock %}

{% block style %}
tr:first-child * {
border-top: 0;
}
{% endblock %}

{% block body %}
{{ super() }}

<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
    <p class="lead">Класс: 9 "Б"</p>
    <p class="lead">Четверть: 4</p>
</div>

<div class="mx-5 mt-3">
{% for i in range(2) %}
    <div class="row justify-content-around flex-nowrap align-items-stretch">
        {% for j in range(3) %}
        <div class="day d-flex flex-column p-3">
            <h3>{{ next(week_days) }}</h3>
            <table class="table table-hover table-dark">
                {% for k in range(6) %}
                <tr>
                    <td class="lesson-number text-muted border-right align-middle">{{ k + 1 }}</td>
                    <td class="align-middle"><b>Мотьематика</b></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>
{% endfor %}
</div>

{% endblock %}