{% extends 'journal/base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/links.css') }}">
{% endblock %}

{% block style %}
{{ super() }}

.add {
font-size: 250%;
line-height: 75%;
border-bottom-left-radius: 0 !important;
border-bottom-right-radius: 0 !important;
margin-bottom: -1px !important;
}

.modal-xl {
max-width: 1140px;
}

input {
position: relative;
}

input:focus {
z-index: 1;
}

.composed-text-inputs input:first-child {
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
}

.composed-text-inputs input {
margin-top: -1px;
border-radius: 0;
}

.composed-text-inputs input:last-child {
border-bottom-left-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}

{% endblock %}

{% block body %}
{{ super() }}

<div class="modal fade" tabindex="-1" role="dialog" id="add-teacher">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить учителя</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body d-flex">
                <div class="w-50">
                    <form method="post" id="add-teacher">
                        <div class="form-group">
                            <label for="surname">ФИО</label>
                            <div class="composed-text-inputs">
                                {{ add_teacher_form.surname(class_='form-control',
                                placeholder=add_teacher_form.surname.label.text) }}
                                {{ add_teacher_form.name(class_='form-control',
                                placeholder=add_teacher_form.name.label.text) }}
                                {{ add_teacher_form.patronymic(class_='form-control',
                                placeholder=add_teacher_form.patronymic.label.text) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ add_teacher_form.email.label }}
                            {{ add_teacher_form.surname(class_='form-control',
                            placeholder=add_teacher_form.email.label.text) }}
                        </div>
                    </form>
                </div>
                <div class="w-50">
                    Предметы
                    <!-- TODO -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <!--<button type="submit" class="btn btn-primary" form="add-teacher">Добавить</button>-->
                {{ add_teacher_form.submit(class_='btn btn-primary', form='add-teacher') }}
            </div>
        </div>
    </div>
</div>

<div class="mx-3 my-3 d-flex justify-content-around">
    <div class="col">
        <h3 class="text-center">Учителя</h3>
        <ul class="list-group">
            <a href="#" class="hidden-link" data-toggle="modal" data-target="#add-teacher">
                <li class="add text-center list-group-item text-muted">+</li>
            </a>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
        </ul>
    </div>
    <div class="col">
        <h3 class="text-center">Ученики</h3>
        <ul class="list-group">
            <a href="#" class="hidden-link" data-toggle="modal" data-target="#add-student">
                <li class="add text-center list-group-item text-muted">+</li>
            </a>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col">
        <h3 class="text-center">Родители</h3>
        <ul class="list-group">
            <a href="#" class="hidden-link" data-toggle="modal" data-target="#add-parent">
                <li class="add text-center list-group-item text-muted">+</li>
            </a>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>

{% endblock %}